body {
    margin: 0;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
}

main > * {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.wrapper {
    display: grid;
    grid-gap: 24px;
    width: 80%;
    margin: 0 10%;
    align-items: center;
}

.innerWrapper {
    display: grid;
    grid-gap: 12px;
    align-items: center;
    grid-auto-rows: auto;
}

.drieEen {
    grid-template-columns: 3fr 1fr;
}

.eenDrie {
    grid-template-columns: 1fr 3fr;
}

.totDrie {
    grid-column-start: 1;
    grid-column-end: 3;
}

.vijf {
    grid-template-columns: repeat(5, 1fr);
}
