@import url("columns.css");

a.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-decoration: none;
    z-index: 999;
}

.list__item {
    text-align: center;
    width: 275px;
    box-shadow: grey 0 0 6px;
    border: grey solid;
    padding: 10px;
    position: relative;
}

.list__item:hover {
    background-color: #fcfcfc;
    box-shadow: none;
    cursor: pointer;
}

.list__item img {
    width: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

header {
    width: auto;
    height: 150px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.514) 0px 0px 10px;
}
