@import url("columns.css");

a {
    text-decoration: none;
}

a.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 999;
}

.list__item {
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 6px;
    background-color: #fff;
    padding: 10px;
    position: relative;
    height: stretch;
    height: -webkit-fill-available;
}

.list__item:hover {
    border: solid rgba(0, 0, 0, 0.226) 2px;
    margin: -2px;
    box-shadow: none;
    cursor: pointer;
}

.list__item img {
    width: 200px;
}

input {
    border: 0;
    width: 100%;
    font-size: 1em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: 400;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 9px 32px 8px 8px;
    background-image: url(https://untappd.akamaized.net/assets/v3/images/header_search_icon.png);
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: 18px 18px;
    outline: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding: 0;
}

header {
    width: auto;
    height: 150px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.514) 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    font-family: "Sansita Swashed";
    font-style: normal;
}

p,
button,
input,
option {
    font-family: "Cantarell", sans-serif;
}

img {
    width: 100%;
}

#userAvatar {
    border-radius: 50%;
    max-height: 90%;
    max-width: 90%;
}

#displayGame > div {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 6px;
    padding: 24px;
}
