.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    transition: all ease 1s;
}

.closeModal {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: block;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

.closebutton {
    color: red;
    text-decoration: none;
    font-size: 30px;
    margin: 0 auto;
    display: table;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal:target > .closeModal {
    display: block;
}

.modal > div {
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 12%) 0px 0px 6px;
    position: relative;
    background: #ffffff;
    z-index: 3;
    padding: 24px;
    min-width: 35%;
}

.wrap,
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    overflow-y: auto;
}
